@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-10">
        <h2>Welcome to World Tree Stucture Application</h2>
        <p>
            The application presents a tree structure created for the needs of recruitment.
        </p>
    </div>
</div>